{% extends "home.j2" %}

{% block title %}
  {{app.title}} AdventOfCode {{description.year}} Day {{description.year}} {{description.title}} Rust Solution
{% endblock %}

{% block content %}
<div>{{description.html|safe}}</div>
<h2>Rust Solution</h2>
<pre><code class="rust">{{solution.source}}</code></pre>
{% endblock %}
