{% extends "home.j2" %}

{% block title %}
  {{app.title}} AdventOfCode Rust Solutions
{% endblock %}

{% block content %}
<table class="table-auto">
  <thead>
    <tr>
      <th>Year</th>
      <th>Day</th>
      <th>AdventOfCode {{rows.len()}} Rust Solutions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>
          {{row.year}}
        </td>
        <td>
          Day {{row.day}}
        </td>
        <td>
          <a href="{{row.href()}}"> {{row.title}}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}