{% extends "desktop.j2" %}

{% block title %}
  {{app.title}} AdventOfCode {{description.year}} Day {{description.day}} {{description.title}} Rust Solution
{% endblock %}

{% block content %}
<div class="component">
    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{description.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <div>{{description.html|safe}}</div>
            <section class="field-row" style="justify-content: flex-end">
                <a target="_blank" href="{{description.practice_url()}}">
                    <button>Practice</button>
                </a>
                <a target="_blank" href="http://twitter.com/share?text={{app.title}} AdventOfCode {{description.year}} Day {{description.day}} {{description.title}} Rust Solution&url=https://rustgym.com{{description.href()}}&hashtags=rustgym,adventofcode,rust">
                    <button>Tweet</button>
                </a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=rustgym.com{{description.href()}}" >
                    <button>Facebook</button>
                </a>
                <a target="_blank" href="https://github.com/warycat/rustgym/issues/new?title=AdventOfCode {{description.year}} Day {{description.day}} {{description.title}}">
                    <button type="button">Issue</button>
                </a>
            </section>
        </div>
    </div>

    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{description.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
          <pre><code class="rust">{{solution.source}}</code></pre>
        </div>
    </div>

</div>
{% endblock %}

