<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}RUST GYM{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"/>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@10.4.1/styles/stackoverflow-dark.min.css"/>
    <style>
      .prose strong {
        color:#f08d49;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//unpkg.com/@highlightjs/cdn-assets@10.4.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-661DVJ18N4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-661DVJ18N4');
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content" class="md:container md:mx-auto prose" >
      {% block navigation %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>
  <footer class="text-center">
      <div class="mt-16 flex flex-col items-center">
          <div class="text-center py-6">
            <p class="text-sm  mb-2">
                2021 RUST GYM
            </p>
          </div>
      </div>
  </footer>
</html>
