<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}RUST GYM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="origin-trial" content="AoLaAmCleB9Y9nuO10wIngBj95JTQz+qbvXxAkplkF9Sj5lg1Rxmr5fqkgqF1AsD4BS6dzgZ7n3rxKB/8+O3iAYAAABleyJvcmlnaW4iOiJodHRwczovL3J1c3RneW0uY29tOjQ0MyIsImZlYXR1cmUiOiJRdWljVHJhbnNwb3J0IiwiZXhwaXJ5IjoxNjEzOTY0MDUxLCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <link rel="stylesheet" href="/static/tailwind.min.css"/>
    <link rel="stylesheet" href="/static/typography.min.css"/>
    <link rel="stylesheet" href="/static/stackoverflow-dark.min.css"/>
    <link rel="stylesheet" href="/static/app.css"/>
    <link rel="canonical" href="https://rustgym.com{{path|safe}}" />
    <script src="/static/alpine.min.js"></script>
    <script src="/static/highlight.min.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-661DVJ18N4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-661DVJ18N4');
    </script>
    <script src="/pkg/rustgym_wasm.js"></script>
    <script>
      const { start, start_nes} = wasm_bindgen;
      async function run() {
        try {
          await wasm_bindgen('/pkg/rustgym_wasm_bg.wasm');
          await start();
          {% block script %}{% endblock %}
        } catch(e) { 
          console.error(e);
        }
      }
      run();
    </script>
    <script>
      hljs.initHighlightingOnLoad();
      console.log("session.uuid {{session.uuid}}");
      console.log("session.name {{session.name}}");
      console.log("session.count {{session.count}}");
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="body" class="sm:mx-auto">
      {% block navigation %}{% endblock %}
      <div id="searchbar" class="px-3 prose sm:prose-xl container mx-auto">
        <div class="searchbar">
          <div class="relative mt-3 mx-auto">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
              <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"></path>
              </svg>
            </span>
            <input
              id="search_input"
              class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline" 
              type="text"
              placeholder="Search Rust Solutions"
              value=""
            />
            <div
              id="search_suggestions"
              class="autocom-box w-full border rounded-md empty"
            >
            </div>
          </div>
        </div>
        <table id="search_table" class="table-auto empty">
          <thead>
            <tr>
              <th>id</th>
              <th>title</th>
              <th>from</th>
            </tr>
          </thead>
          <tbody id="search_results">
          </tbody>
        </table>
      </div>
      <div id="content" class="px-3 py-3 prose sm:prose-xl container mx-auto">
        {% block content %}{% endblock %}
      </div>
      <div id="video_scroller">
        <div id="remote_videos" class="videos">
          <video id="local_video" class="remote" autoplay>
          </video>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div id="footer" class="text-center">
    {% block footer %}{% endblock %}
    </div>
  </footer>
</html>
