<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}RUST GYM{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"/>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@10.4.1/styles/stackoverflow-dark.min.css"/>
    <link rel="canonical" href="https://rustgym.com{{path|safe}}" />
    <style>
      .prose strong {
        color:#f08d49;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="origin-trial" content="AoLaAmCleB9Y9nuO10wIngBj95JTQz+qbvXxAkplkF9Sj5lg1Rxmr5fqkgqF1AsD4BS6dzgZ7n3rxKB/8+O3iAYAAABleyJvcmlnaW4iOiJodHRwczovL3J1c3RneW0uY29tOjQ0MyIsImZlYXR1cmUiOiJRdWljVHJhbnNwb3J0IiwiZXhwaXJ5IjoxNjEzOTY0MDUxLCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@10.4.1/highlight.min.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-661DVJ18N4"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-661DVJ18N4');
    </script>
    <script type="module">
      import init from '/pkg/rustgym_wasm.js';
      async function run() {
        window.WASM = await init();
      }
      run();
    </script>
    <script>
      console.log("{{session.uuid}}");
      console.log("{{session.name}}");
      console.log("{{session.count}}");
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content" class="sm:container sm:mx-auto prose sm:prose-xl">
      {% block navigation %}{% endblock %}
      <div class="px-3">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
  <footer>
    <div id="footer" class="text-center">
    {% block footer %}{% endblock %}
    </div>
  </footer>
</html>
