{% extends "desktop.j2" %}

{% block title %}
  {{app.title}} Google {{item.division()}} Year {{item.year}} Round {{item.round}} {{item.title}} Rust Solution
{% endblock %}

{% block content %}
<div class="component">
    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{item.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <div>{{item.problem|safe}}</div>
            <h4>Input</h4>
            <pre>{{item.input}}</pre>
            <h4>Output</h4>
            <pre>{{item.output}}</pre>
            <section class="field-row" style="justify-content: flex-end">
                <a target="_blank" href="{{item.practice_url()}}">
                    <button>Practice</button>
                </a>
                <a target="_blank" href="http://twitter.com/share?text={{app.title}} Google {{item.division()}} {{item.year}} Round {{item.round}} {{item.title}} Rust Solution&url=https://rustgym.com{{item.href()}}&hashtags=rustgym,google,rust">
                    <button>Tweet</button>
                </a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=rustgym.com{{item.href()}}" >
                    <button>Facebook</button>
                </a>
                <a target="_blank" href="https://github.com/warycat/rustgym/issues/new?title=Google {{item.division()}} {{item.year}} Round {{item.round}} {{item.title}}">
                    <button type="button">Issue</button>
                </a>
            </section>
        </div>
    </div>

    {% if !item.analysis.is_empty() %}
    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{item.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <code>{{item.analysis|safe}}</code>
        </div>
    </div>
    {% endif %}

    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{item.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <pre><code class="rust">{{item.solution}}</code></pre>
        </div>
    </div>

</div>
{% endblock %}
