{% extends "home.j2" %}

{% block title %}
  {{app.title}} Google Coding Competitions Rust Solutions
{% endblock %}

{% block content %}
<table class="table-auto">
  <thead>
    <tr>
      <th>Year</th>
      <th>Round</th>
      <th>CodeJam {{codejam_rows.len()}} Rust Solutions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in codejam_rows %}
      <tr>
        <td>
          {{row.year}}
        </td>
        <td>
          {{row.round}}
        </td>
        <td>
          <a href="{{row.href()}}"> {{row.title}}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table-auto">
  <thead>
    <tr>
      <th>Year</th>
      <th>Round</th>
      <th>KickStart {{kickstart_rows.len()}} Rust Solutions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in kickstart_rows %}
      <tr>
        <td>
          {{row.year}}
        </td>
        <td>
          {{row.round}}
        </td>
        <td>
          <a href="{{row.href()}}"> {{row.title}}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}