{% extends "desktop.j2" %}

{% block title %}
	{{ app.title }} Home
{% endblock %}

{% block content %}
    <div class="apps">
        <div class="app">
            <a href="/leetcode">
                <img class="app-icon" src="/static/ico/executable.ico">
            </a>
            <div>Leetcode Solutions</div>
        </div>
        <div class="app">
            <a href="/google">
                <img class="app-icon" src="/static/ico/executable.ico">
            </a>
            <div>Google Solutions</div>
        </div>
        <div class="app">
            <a href="/adventofcode">
                <img class="app-icon" src="/static/ico/executable.ico">
            </a>
            <div>AoC Solutions</div>
        </div>
        <div class="app">
            <a href="/nes">
                <img class="app-icon" src="/static/ico/executable.ico">
            </a>
            <div>Nes Games</div>
        </div>
    </div>
{% endblock %}

