{% extends "desktop.j2" %}

{% block title %}
    {{app.title}} Leetcode {{question.id}} {{question.title}} Rust Solution
{% endblock %}

{% block content %}
<div class="component">
    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{question.id}}. {{question.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <p>{{description.html|safe}}</p>
            <section class="field-row" style="justify-content: flex-end">
                <a target="_blank" href="{{question.practice_url()}}">
                    <button>Practice</button>
                </a>
                <a target="_blank" href="http://twitter.com/share?text={{app.title}} Leetcode {{question.id}} {{question.title}} Rust Solution&url=https://rustgym.com/leetcode/{{question.id}}&hashtags=rustgym,leetcode,rust">
                    <button>Tweet</button>
                </a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=rustgym.com/leetcode/{{question.id}}" >
                    <button>Facebook</button>
                </a>
                <a target="_blank" href="https://github.com/warycat/rustgym/issues/new?title=Leetcode {{question.id}} {{question.title}}">
                    <button type="button">Issue</button>
                </a>
            </section>
        </div>
    </div>

    <div class="window" >
        <div class="title-bar">
            <div class="title-bar-text">{{question.id}}. {{question.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            {% for solution in solutions %}
                <pre><code class="rust">{{solution.source}}</code></pre>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}