{% extends "home.j2" %}

{% block title %}
  {{app.title}} Leetcode {{question.id}} {{question.title}} Rust Solution
{% endblock %}

{% block content %}
<h2>{{question.id}}. {{question.title}}</h2>
<div>{{description.html|safe}}</div>
<h2>Rust Solution</h2>
{% for solution in solutions %}
  <pre><code class="rust">{{solution.source}}</code></pre>
{% endfor %}

<div class="grid grid-cols-2 flex justify-between">
  <div class="flex">
    <a target="_blank" href="https://leetcode.com/problems/{{question.slug}}/">
      <button type="button" class="border border-yellow-400 bg-yellow-400 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-yellow-500 focus:outline-none focus:shadow-outline">Practice</button>
    </a>
  </div>
  
  <div class="flex justify-end">
    <a target="_blank" href="http://twitter.com/share?text={{app.title}} Leetcode {{question.id}} {{question.title}} Rust Solution&url=https://rustgym.com/leetcode/{{question.id}}&hashtags=rustgym,leetcode,rust">
      <button type="button" class="border border-blue-400 bg-blue-400 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-blue-500 focus:outline-none focus:shadow-outline">Tweet</button>
    </a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=rustgym.com/leetcode/{{question.id}}" >
      <button type="button" class="border border-blue-600 bg-blue-600 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-blue-700 focus:outline-none focus:shadow-outline">Facebook</button>
    </a>
  </div>
</div>

<div>
  <p>Having problems with this solution? <a href="https://github.com/warycat/rustgym/issues/new?title=Leetcode {{question.id}} {{question.title}}">Click here</a> to submit an issue on github.</p>
</div>


{% endblock %}