<h1><a href="/">{{app.title}} {{app.tag}}</a></h1>
<div>Leetcode</div>
<div><a href="https://github.com/warycat/rustgym">Github</a></div>
<table>
{% for row in rows %}
  <tr>
    <td>
      {{row.qid}}
    </td>
    <td>
      <a href="{{row.qid}}"> {{row.title}}</a>
    </td>
  </tr>
{% endfor %}
</table>