{% extends "home.j2" %}

{% block title %}
  {{app.title}} Leetcode Rust Solutions
{% endblock %}


{% block content %}
<table class="table-auto">
  <thead>
    <tr>
      <th>id</th>
      <th>Leetcode {{rows.len()}} Rust Solutions</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>
          {{row.id}}
        </td>
        <td>
          <a href="{{row.id}}"> {{row.title}}</a>
        </td>
        <td>
          {% if row.level == 1 %}
            Easy
          {% else if row.level == 2 %}
            Medium
          {% else if row.level == 3%}
            Hard
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
