{% extends "desktop.j2" %}

{% block title %}
  {{app.title}} Nes Games
{% endblock %}


{% block content %}
  <div class="component">
    <div class="window" >
      <div class="title-bar">
        <div class="title-bar-text">Nes Games</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        {% for row in rows %}
        <div class="rom-body">
          <div class="rom-image">
            <a href="{{row.href()}}">
              <img src={{row.image}} alt={{row.title}} />
            </a>
          </div>
          <div class="rom-detail">
            <h4>{{ row.title }}</h4>
            <blockquote>{{ row.description }}</blockquote>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
