{% extends "desktop.j2" %}

{% block title %}
  {{app.title}} Nes Emulator {{rom.title}}
{% endblock %}


{% block content %}
    <div class="component">
        <div class="window" >
            <div class="title-bar">
            <div class="title-bar-text">{{rom.title}}</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
            </div>
            <div class="window-body">
                <canvas 
                    id="nes_canvas"
                    width=1024
                    height=1024
                    class="mx-auto"
                >
                </canvas>
            </div>
            <div class="status-bar">
                <p id="fps" class="status-bar-field">FPS: 60</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %} 
    await start_nes("{{rom.filename}}", "{{rom.md5}}");
{% endblock %}