https://rustgym.com/
https://rustgym.com/leetcode/
{%- for row in leetcode_rows %}
https://rustgym.com/leetcode/{{row.id}}
{%- endfor %}
https://rustgym.com/adventofcode/
{%- for row in adventofcode_rows %}
https://rustgym.com/adventofcode/{{row.id}}
{%- endfor %}
