http://rustgym.com/
http://rustgym.com/sitemap.txt
http://rustgym.com/leetcode/
{%- for row in leetcode_rows %}
http://rustgym.com/leetcode/{{row.id}}
{%- endfor %}
http://rustgym.com/adventofcode/
{%- for row in adventofcode_rows %}
http://rustgym.com/adventofcode/{{row.id}}
{%- endfor %}
