.prose strong {
  color: #f08d49;
}

.searchbar .autocom-box {
  position: absolute;
  padding: 0;
  opacity: 1;
  pointer-events: auto;
  max-height: 280px;
  overflow-y: auto;
  background-color: white;
}

.searchbar.empty .autocom-box {
  opacity: 1;
  pointer-events: none;
}

.autocom-box div {
  display: block;
  cursor: default;
  border-radius: 3px;
}

.empty {
  display: none;
}

.autocom-box div:hover {
  background: #efefef;
}
